## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [59]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [32]:
#Como não foi solicitado para criar um novo dataframe, irei fazer das 2 formas, 
#sem criar um dataframe para a soma e criando um dataframe para a soma
#Primeiro sem criar um dataframe:

In [60]:
# 1) Seu código aqui
df_mat['% mat'] = np.round(((df_mat['Qt_acertos']*100)/24),2)
df_por['% por'] = np.round(((df_por['Qt_acertos']*100)/18),2)
df_geo['% geo'] = np.round(((df_geo['Qt_acertos']*100)/8),2)
df_ing['% ing'] = np.round(((df_ing['Qt_acertos']*100)/8),2)
df_his['% his'] = np.round(((df_his['Qt_acertos']*100)/8),2)
df_fis['% fis'] = np.round(((df_fis['Qt_acertos']*100)/12),2)
df_qui['% qui'] = np.round(((df_qui['Qt_acertos']*100)/12),2)
df_fis

    Qt_acertos  % fis
0            8  66.67
1           11  91.67
2            4  33.33
3            0   0.00
4            9  75.00
..         ...    ...
95           9  75.00
96           4  33.33
97           1   8.33
98          10  83.33
99           7  58.33

[100 rows x 2 columns]

In [61]:
# 2) Seu código aqui
df_mat['Qt_acertos'] + df_por['Qt_acertos'] + df_geo['Qt_acertos']
+ df_ing['Qt_acertos'] + df_his['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos']

0     15
1     19
2     20
3     12
4     19
      ..
95    17
96    14
97    12
98    27
99    16
Name: Qt_acertos, Length: 100, dtype: int32

In [35]:
# 3) Seu código aqui
np.round(((df_mat['Qt_acertos'] + df_por['Qt_acertos'] + df_geo['Qt_acertos']
+ df_ing['Qt_acertos'] + df_his['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos'])*100/90),2)

0     38.89
1     53.33
2     55.56
3     35.56
4     33.33
      ...
95    37.78
96    30.00
97    44.44
98    44.44
99    46.67
Name: Qt_acertos, Length: 100, dtype: float64

In [36]:
# 4) Seu código aqui
aprovados = np.round((df_mat['Qt_acertos'] + df_por['Qt_acertos'] + df_geo['Qt_acertos']
+ df_ing['Qt_acertos'] + df_his['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos']))
aprovados

aprovado = 0
for lin in aprovados:
    if lin >= 45:
        aprovado += 1

print ('Total de aprovados para a segunda fase:',aprovado)

Total de aprovados para a segunda fase: 34

In [37]:
#Criando um dataframe

In [38]:
df_materias = pd.DataFrame({'Total_acertos': df_mat['Qt_acertos'] + df_por['Qt_acertos'] + df_geo['Qt_acertos']
                         + df_ing['Qt_acertos'] + df_his['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos']})
df_materias

    Total_acertos
0              35
1              48
2              50
3              32
4              30
..            ...
95             34
96             27
97             40
98             40
99             42

[100 rows x 1 columns]

In [39]:
df_materias['% Total'] = np.round(((df_materias['Total_acertos']*100)/90),2)
df_materias

    Total_acertos  % Total
0              35    38.89
1              48    53.33
2              50    55.56
3              32    35.56
4              30    33.33
..            ...      ...
95             34    37.78
96             27    30.00
97             40    44.44
98             40    44.44
99             42    46.67

[100 rows x 2 columns]

In [40]:
df_materias['Aprovado'] = 0
df_materias.loc[df_materias['Total_acertos'] >= 45, 'Aprovado'] = 1
print('Total de aprovados para a segunda fase:',df_materias['Aprovado'].sum())

Total de aprovados para a segunda fase: 34

In [41]:
df_materias.loc[df_materias['Total_acertos'] >= 45]

    Total_acertos  % Total  Aprovado
1              48    53.33         1
2              50    55.56         1
5              50    55.56         1
7              49    54.44         1
8              58    64.44         1
17             52    57.78         1
18             50    55.56         1
20             53    58.89         1
24             50    55.56         1
27             50    55.56         1
31             54    60.00         1
34             45    50.00         1
35             48    53.33         1
36             56    62.22         1
37             52    57.78         1
39             49    54.44         1
40             47    52.22         1
42             48    53.33         1
45             48    53.33         1
48             55    61.11         1
53             45    50.00         1
60             48    53.33         1
62             46    51.11         1
67             46    51.11         1
70             62    68.89         1
71             53    58.89         1
72             50    55.56         1
77             53    58.89         1
78             66    73.33         1
80             45    50.00         1
81             55    61.11         1
88             50    55.56         1
89             63    70.00         1
93             56    62.22         1

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [42]:
# seu código aqui
df_desqualificados = pd.DataFrame()
df_desqualificados['Matematica'] = df_mat['Qt_acertos']
df_desqualificados['Fisica'] = df_fis['Qt_acertos']
df_desqualificados['Quimica'] = df_qui['Qt_acertos']

df_desqualificados['Desqualificado'] = 0
df_desqualificados.loc[df_desqualificados['Matematica'] == 0, 'Desqualificado'] = 1
df_desqualificados.loc[df_desqualificados['Fisica'] == 0, 'Desqualificado'] = 1
df_desqualificados.loc[df_desqualificados['Quimica'] == 0, 'Desqualificado'] = 1
df_desqualificados.loc[df_desqualificados['Desqualificado'] == 1]

    Matematica  Fisica  Quimica  Desqualificado
3           10       0        8               1
6            6       0        4               1
10          10       7        0               1
12          20       0        3               1
14           7       4        0               1
20          23       2        0               1
25           0       4        8               1
26          11       0        0               1
27          21       3        0               1
33          14       6        0               1
35          11       0       11               1
49           8       0        8               1
56           7       0        8               1
65           1       0        6               1
66           5       0       10               1
72          11       0        9               1
73           1       0       11               1
74           9       7        0               1
84          15       0        4               1
89          23       9        0               1
92          14       8        0               1
94           0       3        8               1
98           0      10       11               1

In [43]:
#Quantidade de alunos desqualificados
print('Total de desqualificados:',df_desqualificados['Desqualificado'].sum())

Total de desqualificados: 23

In [44]:
#Não ficou claro se quer a média de história e geografia individual ou das 2 juntas, então farei os 2
df_desqualificados['Historia'] = df_his['Qt_acertos']
df_desqualificados['Geografia'] = df_geo['Qt_acertos']
df_desqualificados['% geo'] = np.round(((df_desqualificados['Geografia']*100)/8),2)
df_desqualificados['% his'] = np.round(((df_desqualificados['Historia']*100)/8),2)
df_desqualificados['% geo e his'] = np.round((((df_desqualificados['Geografia'] + df_desqualificados['Historia'])*100)/16),2)
df_desqualificados.loc[df_desqualificados['Desqualificado'] == 1]

,Matematica,Fisica,Quimica,Desqualificado,Historia,Geografia,% geo,% his,% geo e his
3,10,0,8,1,0,3,37.5,0.0,18.75
6,6,0,4,1,5,7,87.5,62.5,75.00
10,10,7,0,1,1,3,37.5,12.5,25.00
12,20,0,3,1,1,3,37.5,12.5,25.00
14,7,4,0,1,1,1,12.5,12.5,12.50
20,23,2,0,1,6,6,75.0,75.0,75.00
25,0,4,8,1,0,7,87.5,0.0,43.75
26,11,0,0,1,7,6,75.0,87.5,81.25
27,21,3,0,1,7,1,12.5,87.5,50.00
33,14,6,0,1,6,0,0.0,75.0,37.50
35,11,0,11,1,3,6,75.0,37.5,56.25
49,8,0,8,1,1,1,12.5,12.5,12.50
56,7,0,8,1,6,7,87.5,75.0,81.25
65,1,0,6,1,3,2,25.0,37.5,31.25
66,5,0,10,1,3,3,37.5,37.5,37.50
72,11,0,9,1,7,3,37.5,87.5,62.50
73,1,0,11,1,3,2,25.0,37.5,31.25
74,9,7,0,1,5,0,0.0,62.5,31.25
84,15,0,4,1,1,0,0.0,12.5,6.25
89,23,9,0,1,6,7,87.5,75.0,81.25
92,14,8,0,1,1,1,12.5,12.5,12.50
94,0,3,8,1,1,2,25.0,12.5,18.75
98,0,10,11,1,5,3,37.5,62.5,50.00

In [45]:
#Alunos que passsaram para a segunda fase
df_aprovados = pd.DataFrame()
df_aprovados['Matematica'] = df_mat['Qt_acertos']
df_aprovados['Fisica'] = df_fis['Qt_acertos']
df_aprovados['Quimica'] = df_qui['Qt_acertos']
df_aprovados['Historia'] = df_his['Qt_acertos']
df_aprovados['Geografia'] = df_geo['Qt_acertos']
df_aprovados['Portugues'] = df_por['Qt_acertos']
df_aprovados['Ingles'] = df_ing['Qt_acertos']
df_aprovados['Total_Acertos'] = (df_mat['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos'] 
                                 + df_his['Qt_acertos'] + df_geo['Qt_acertos'] + df_por['Qt_acertos'] + df_ing['Qt_acertos'])

df_aprovados['Aprovado'] = 0
df_aprovados.loc[df_aprovados['Total_Acertos'] >= 45, 'Aprovado'] = 1
df_aprovados.loc[df_aprovados['Matematica'] == 0, 'Aprovado'] = 0
df_aprovados.loc[df_aprovados['Fisica'] == 0, 'Aprovado'] = 0
df_aprovados.loc[df_aprovados['Quimica'] == 0, 'Aprovado'] = 0
df_aprovados.loc[df_aprovados['Aprovado'] == 1]

,Matematica,Fisica,Quimica,Historia,Geografia,Portugues,Ingles,Total_Acertos,Aprovado
1,19,11,8,0,0,10,0,48,1
2,14,4,4,7,0,16,5,50,1
5,20,9,9,2,5,2,3,50,1
7,18,1,8,7,4,4,7,49,1
8,22,5,7,6,2,9,7,58,1
17,21,2,6,4,2,15,2,52,1
18,20,11,4,3,3,4,5,50,1
24,20,11,2,3,7,2,5,50,1
31,15,9,10,3,3,13,1,54,1
34,18,3,3,6,1,14,0,45,1
36,22,4,8,1,6,9,6,56,1
37,19,6,2,1,5,12,7,52,1
39,4,9,8,6,2,16,4,49,1
40,18,5,6,6,6,3,3,47,1
42,20,3,3,2,7,6,7,48,1
45,17,9,4,6,0,10,2,48,1
48,17,9,11,5,0,6,7,55,1
53,14,7,3,3,3,11,4,45,1
60,16,7,9,4,0,8,4,48,1
62,17,1,9,7,2,6,4,46,1
67,21,2,10,4,7,0,2,46,1
70,21,11,8,5,0,14,3,62,1
71,17,2,9,4,7,8,6,53,1
77,15,11,7,6,5,2,7,53,1
78,14,11,9,7,7,16,2,66,1
80,13,2,1,7,5,16,1,45,1
81,22,1,10,4,2,16,0,55,1
88,20,9,7,7,1,1,5,50,1
93,12,6,6,6,5,16,5,56,1

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [46]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv'

In [47]:
# 1) Sua solução aqui
vac_acre = pd.read_csv(
    'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-9063d3dc-259a-4a2f-8bae-fa44dd413380.c000.csv',
    sep = ';',
    decimal = ',')
vac_acre['vacina_nome'].nunique()

15

In [48]:
# 2)
vac_acre['paciente_id'].nunique()

318850

In [49]:
# 3)
vac_primeira_dose = vac_acre['vacina_descricao_dose'].unique()
vac_primeira_dose
primeira_dose = '1ª Dose'
pacientes_primeira_dose = vac_acre[vac_acre['vacina_descricao_dose'] == primeira_dose]['paciente_id'].nunique()
pacientes_primeira_dose

143753

In [50]:
# 3) solução alternativa
vac_acre['vacina_descricao_dose'].unique()
vac_1a_dose = vac_acre.loc[vac_acre['vacina_descricao_dose'] == '1ª Dose']
vac_1a_dose['paciente_id'].nunique()

143753

In [83]:
# 4)
np.sort(vac_acre['paciente_idade'].unique())
menores_18 = vac_acre.loc[vac_acre['paciente_idade'] < 18]
menores_18['paciente_id'].nunique()

69726

In [112]:
# 5)
#Considerando que uma empresa só pode ter 1 razão social por CNPJ, estou considerando a razão social para contagem de estabelecimentos
vac_acre['estabelecimento_razaoSocial'].nunique()

64

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [81]:
# 1)
vac_acre_copy = vac_acre.loc[vac_acre['paciente_idade'] < 18]
vac_acre_copy

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
19,ddbe8e75-ac1e-40b7-ad55-ead506189efd-i0b0,4a502fc943b8e62deca3f6cd1be3885f7b0d8a2ed88796...,14,2007-03-13,F,3,PARDA,120010.0,10.0,BRASILEIA,...,2.0,Faixa Etária,FF5107,PFIZER,Organization/00394544000851,2021-09-30,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
30,3274f24d-1591-4140-a8fa-190936d23a9b-i0b0,0632f0ea66d18401d3a4c7d82a91173178ab5a2730ce6a...,11,2011-06-26,F,3,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,NaN,NaN,210520,SINOVAC/BUTANTAN,29501,2022-08-24,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
36,ea9e2f3d-e19c-4d77-b7ef-7b0fbe361729-i0b0,28846f11a1561850581aa34a0587e14a355445324f4de4...,10,2011-08-14,M,3,PARDA,120030.0,10.0,FEIJO,...,NaN,NaN,FN5988,PFIZER - PEDI?TRICA,28290,2022-03-17,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
52,f21f10b8-0116-4053-b212-ce305f1fcaa0-i0b0,f7422e1a7e9562654092eb9fbadaa8df11e3bd25f4f87a...,7,2015-02-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FN5988,Pendente Identificação,Organization/28290,2022-03-31,2ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
53,e00f694d-2ac1-4903-b616-67379c3958ba-i0b0,ce76517be31cf7531f1aa6ca58af88525b26dbf085be84...,16,2006-02-24,M,4,AMARELA,120030.0,10.0,FEIJO,...,2.0,Faixa Etária,FN9509,PFIZER,28290,2022-07-12,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390888,c67be324-62ec-4c56-a24d-bf52cecd8bc5-i0b0,ade63d0c13a4bbe9b1c717a463d6116f2912cb27151d30...,4,2019-08-03,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,230165,BUTANTAN,152,2024-01-25,Única,33,INF3,Novo PNI
390897,c76240fc-b5c7-42fe-b197-5834997c5fe8-i0b0,3b0305b831b9d267ddfd5d691bf60cb69314d5d0780219...,10,2011-12-14,M,3,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,NaN,NaN,210342,SINOVAC/BUTANTAN,Organization/152,2022-02-03,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
390902,c792701d-7d82-4f07-a441-b04b8d77fc73-i0b0,7d1e0926e87b64ba4e8b087d7ece2d5ffc983c1e1acdd8...,1,2023-03-11,F,3,PARDA,120030.0,10.0,FEIJO,...,2.0,Faixa Etária,gy0352,PFIZER - PEDIÁTRICA MENOR DE 5 ANOS,NaN,2024-03-18,2ª Dose,102,COVID-19 PFIZER - COMIRNATY PEDIÁTRICA MENOR D...,ESUS APS - NACIONAL (OFFLINE)
390904,c7a24335-f5de-49dd-836e-3667f8d4bbfa-i0b0,39f7f986d0e385c60cbf30bcbb2091a93112f6d1be1715...,10,2011-09-29,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,210390A,SINOVAC/BUTANTAN,Organization/152,2022-03-05,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
390910,c85b7508-d64e-454c-a543-10cdc30c1f8c-i0b0,e68cebd33b33b1012e025c7ade0d03dbac8b44b588c48b...,10,2013-03-26,F,5,INDIGENA,120043.0,10.0,SANTA ROSA DO PURUS,...,7.0,Povos Indígenas,230147,BUTANTAN,152,2023-11-23,Única,33,INF3,Novo PNI

In [85]:
# 2)
vac_acre_copy.columns.unique()

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [86]:
# 3)
vac_acre_copy['vacina_categoria_nome'].nunique()

14

In [91]:
# 4)
vac_estabelecimentos = vac_acre_copy.loc[:,'estabelecimento_valor':'estabelecimento_uf'].columns.unique()
vac_estabelecimentos

Index(['estabelecimento_valor', 'estabelecimento_razaoSocial',
       'estalecimento_noFantasia', 'estabelecimento_municipio_codigo',
       'estabelecimento_municipio_nome', 'estabelecimento_uf'],
      dtype='object')

In [96]:
# 5)
vac_acre_copy = vac_acre_copy.loc[:,'estabelecimento_valor':'estabelecimento_uf']
vac_acre_copy

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
19,2001349,PREFEITURA MUNICIPAL DE BRASILEIA,ESF TUFIC MIZAEL SAADY,120010,BRASILEIA,AC
30,7247435,PREFEITURA MUNICIPAL DE SAUDE,UNIDADE DE SAUDE DA FAMILIA RAIMUNDO CELSO LIM...,120020,CRUZEIRO DO SUL,AC
36,924490,PREFEITURA MUNICIPAL DE FEIJO,UNIDADE MOVEL DE SAUDE FLUVIAL PEDRO RODRIGUES...,120030,FEIJO,AC
52,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
53,2000059,PREFEITURA MUNICIPAL DE FEIJO,U S F MARIA ALICE,120030,FEIJO,AC
...,...,...,...,...,...,...
390888,3015548,PREFEITURA MUNICIPAL DE RIO BRANCO,USF PLATILDE OLIVEIRA,120040,RIO BRANCO,AC
390897,2002914,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE SAUDE DA FAMILIA 25 DE AGOSTO,120020,CRUZEIRO DO SUL,AC
390902,7014147,PREFEITURA MUNICIPAL DE FEIJO,U S F ANTONIO DOMINGOS RODRIGUES,120030,FEIJO,AC
390904,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
390910,2001772,PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS,CENTRO DE SAUDE PAULO ALCIONE MARQUES,120043,SANTA ROSA DO PURUS,AC

In [107]:
# 6)
vac_acre_copy.drop_duplicates(subset=None , keep = 'first', inplace = False)

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
19,2001349,PREFEITURA MUNICIPAL DE BRASILEIA,ESF TUFIC MIZAEL SAADY,120010,BRASILEIA,AC
30,7247435,PREFEITURA MUNICIPAL DE SAUDE,UNIDADE DE SAUDE DA FAMILIA RAIMUNDO CELSO LIM...,120020,CRUZEIRO DO SUL,AC
36,924490,PREFEITURA MUNICIPAL DE FEIJO,UNIDADE MOVEL DE SAUDE FLUVIAL PEDRO RODRIGUES...,120030,FEIJO,AC
52,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
53,2000059,PREFEITURA MUNICIPAL DE FEIJO,U S F MARIA ALICE,120030,FEIJO,AC
...,...,...,...,...,...,...
200948,2001357,SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA,ESF PEDRO OLIVEIRA DE SOUZA,120010,BRASILEIA,AC
239054,4646770,USF SAO FRANCISCO,USF SAO FRANCISCO,120040,RIO BRANCO,AC
336673,6411312,PREFEITURA MUNICIPAL DE PLACIDO DE CASTRO,U S F LUCIO ALVES DA SILVA,120038,PLACIDO DE CASTRO,AC
357125,2000814,SECRETARIA DE ESTADO DE SAUDE DO ACRE,USF FRANCISCO EDUARDO DE PAIVA,120040,RIO BRANCO,AC
370287,2832798,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,UNIDADE DE SAUDE ALBERTO FLORENCIO DA SILVA,120025,EPITACIOLANDIA,AC